* {
  font-family: "Courier New", Helvetica, sans-serif;
  font-size: large;
}

form {
  margin-top: 25px;
  display: flex;
}

input {
  border: 1px solid black;
  padding: 0 14px;
  flex: 1;
}

button {
  padding: 0 5px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

#error {
  color: red;
  font-weight: bold;
}

#content {
  background-color: black;
  color: white;
}
